<section class="main__content">
  <h2 class="main__title">Hello Evano 👋🏼,</h2>
  <div class="main__container">
    <div class="content__container">
      <div>
        <h3 class="content__title">All Customers</h3>
        <p class="content__active">Active Members</p>
      </div>

      <div class="content__search">
        <button class="content__button">
          <svg class="content__icon" width="24" height="24">
            <use href="./img/svg/symbol-defs.svg#icon-search"></use>
          </svg>
        </button>
        <input
          type="text"
          id="searchInput"
          class="search__input"
          placeholder="Search"
        />
      </div>
    </div>
    <div class="content__vertion-content">
      <div class="content__mobile-wrapper">
        <ul class="content__list"></ul>
      </div>

      <div class="content__table-wrapper">
        <table class="content__table">
          <thead>
            <tr class="content__info">
              <th>Customer Name</th>
              <th>Company</th>
              <th>Phone Number</th>
              <th>Email</th>
              <th>Country</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody class="content__table-info"></tbody>
        </table>
      </div>
      <div class="pagination"></div>
    </div>
  </div>
</section>
