<section class="header">
  <div class="header__mobile">
    <h1 class="header__title">
      <svg class="header__icon" width="32">
        <use href="./img/svg/symbol-defs.svg#icon-main"></use>
      </svg>
      <a class="header__title-link" href="index.html">Dashboard</a>
      <span class="header__version">v.01</span>
    </h1>
    <button class="header__button" id="open-menu">
      <svg class="header__burger" width="32" height="32">
        <use href="./img/svg/symbol-defs.svg#icon-burger"></use>
      </svg>
    </button>
  </div>

  <nav class="header__nav">
    <h1 class="header__title">
      <svg class="header__icon" width="37" height="37">
        <use href="./img/svg/symbol-defs.svg#icon-main"></use>
      </svg>
      <a class="header__title-link" href="index.html">Dashboard</a>
      <span class="header__version">v.01</span>
    </h1>
    <ul class="nav__list">
      <li class="nav__item">
        <svg class="nav__icon" width="24" height="24">
          <use href="./img/svg/symbol-defs.svg#icon-home"></use>
        </svg>
        <a class="nav__link" href="#">Dashboard</a>
      </li>
      <li class="nav__item">
        <svg class="nav__icon" width="24" height="24">
          <use href="./img/svg/symbol-defs.svg#icon-product"></use>
        </svg>
        <a class="nav__link" href="#">Product</a>
        <svg class="nav__arrow" width="24" height="24">
          <use href="./img/svg/symbol-defs.svg#icon-menuArrow"></use>
        </svg>
      </li>
      <li class="nav__item active__menu">
        <svg class="nav__icon" width="24" height="24">
          <use href="./img/svg/symbol-defs.svg#icon-customers"></use>
        </svg>
        <a class="nav__link" href="#">Customers</a>
        <svg class="nav__arrow" width="24" height="24">
          <use href="./img/svg/symbol-defs.svg#icon-menuArrow"></use>
        </svg>
      </li>
      <li class="nav__item">
        <svg class="nav__icon" width="24" height="24">
          <use href="./img/svg/symbol-defs.svg#icon-income"></use>
        </svg>
        <a class="nav__link" href="#">Income</a>
        <svg class="nav__arrow" width="24" height="24">
          <use href="./img/svg/symbol-defs.svg#icon-menuArrow"></use>
        </svg>
      </li>
      <li class="nav__item">
        <svg class="nav__icon" width="24" height="24">
          <use href="./img/svg/symbol-defs.svg#icon-promote"></use>
        </svg>
        <a class="nav__link" href="#">Promote</a>
        <svg class="nav__arrow" width="24" height="24">
          <use href="./img/svg/symbol-defs.svg#icon-menuArrow"></use>
        </svg>
      </li>
      <li class="nav__item">
        <svg class="nav__icon" width="24" height="24">
          <use href="./img/svg/symbol-defs.svg#icon-help"></use>
        </svg>
        <a class="nav__link" href="#">Help</a>
        <svg class="nav__arrow" width="24" height="24">
          <use href="./img/svg/symbol-defs.svg#icon-menuArrow"></use>
        </svg>
      </li>
    </ul>
  </nav>

  <div class="user">
    <img class="user__foto" src="./img/user_foto.jpg" alt="img" />
    <div class="user__info">
      <h3 class="user__name">Evano</h3>
      <p class="user__profeshion">Project Manager</p>
    </div>
  </div>
</section>
