<div class="backdrop" id="mobile__menu">
  <div class="modal__container">
    <h1 class="header__title">
      <svg class="header__icon" width="32">
        <use href="./img/svg/symbol-defs.svg#icon-main"></use>
      </svg>
      <a class="header__title-link" href="index.html">Dashboard</a>
      <span class="header__version">v.01</span>
    </h1>
    <button class="modal__btn-close" type="button" id="mobile__close-btn">
      <svg class="modal__icon" width="32" height="32">
        <use href="./img/svg/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <ul class="modal__links">
    <li><a class="modal__link-item" href="#index.html">Dashboard</a></li>
    <li><a class="modal__link-item" href="#features">Product</a></li>
    <li><a class="modal__link-item" href="#team">Customers</a></li>
    <li><a class="modal__link-item" href="#testimonials">Income</a></li>
    <li><a class="modal__link-item" href="#contact">Promote</a></li>
    <li><a class="modal__link-item" href="#contact">Help</a></li>
  </ul>
</div>
